<form class="downtime-5e-audit-log">
  <input type="hidden" name="actorId" value="{{object.id}}"/>

  <h1 class="title">{{ localize "downtime-5e.ChangeLog" }}</h1>

  <!-- Player View -->
  {{#unless isGm}}
    <div class="instructions">
      <p>{{ localize "downtime-5e.ChangeLogInstructionsPlayer" }}</p>
    </div>
    <div class="action-table">
      <table>
        <tr>
          <th>{{ localize "downtime-5e.Time" }}</th>
          <th>{{ localize "downtime-5e.User" }}</th>
          <th>{{ localize "downtime-5e.Item" }}</th>
          <th>{{ localize "downtime-5e.Action" }}</th>
          <th>{{ localize "downtime-5e.ProgressChange" }}</th>
        </tr>
        {{#each changes as |change id|}}
        <tr>
          <td>{{change.timestamp}}</td>
          <td>{{change.user}}</td>
          <td>{{change.activityName}} {{change.dismissed}}</td>
          <td>{{change.actionName}}</td>
          <td>{{change.oldValue}} -> {{change.newValue}} ({{change.diff}})</td>
        </tr>
        {{/each}}
      </table>
    </div>
  {{/unless}}

  <!-- GM View -->
  {{#if isGm}}
  <div class="instructions">
    <p>{{ localize "downtime-5e.ChangeLogInstructionsGm" }}</p>
    <p>{{ localize "downtime-5e.ChangeLogDeleteNote" }}</p>
  </div>
  <div class="action-table">
    <table>
      <tr>
        <th>{{ localize "downtime-5e.Time" }}</th>
        <th>{{ localize "downtime-5e.User" }}</th>
        <th>{{ localize "downtime-5e.Item" }}</th>
        <th>{{ localize "downtime-5e.Action" }}</th>
        <th>{{ localize "downtime-5e.ProgressChange" }}</th>
        <th>{{ localize "downtime-5e.Dismiss" }}<th>
      </tr>
      {{#each changes as |change id|}}
      <tr>
        <td>{{change.timestamp}}</td>
        <td>{{change.user}}</td>
        <td>{{change.activityName}} {{change.dismissed}}</td>
        <td>{{change.actionName}}</td>
        <td>{{change.oldValue}} -> {{change.newValue}} ({{change.diff}})</td>
        <td><input type="checkbox" name="{{change.timestamp}}" id="{{change.timestamp}}"/></td>
      </tr>
      {{/each}}
    </table>
  </div>

  <footer>
    <button id="apply-audits"><i class='fas fa-check'></i> {{ localize "downtime-5e.DismissSelected" }}</button>
  </footer>
  {{/if}}


</form>
