<form class="crash-tracked-item-app">

  <div class="form-group lighter">
    <label for="name">{{ localize "downtime-5e.ItemId" }}</label>
    <div class="form-fields">
      <input type="text" name="id" id="idInput" value="{{item.id}}" readonly>
    </div>
  </div>

  <h3 class="form-header">{{ localize "downtime-5e.GeneralInformationHeader" }}</h3>

  <!-- SHOW FOR ALL -->
  <div class="form-group">
    <label for="name">{{ localize "downtime-5e.Name" }}</label>
    <div class="form-fields">
      <input type="text" name="name" id="nameInput" value="{{item.name}}">
    </div>
  </div>

  <div class="form-group">
    <label for="img">{{ localize "downtime-5e.Image" }}</label>
    <div class="form-fields">
      <input type="text" name="img" id="imgInput" value="{{item.img}}">
      <button type="button" id="imgPicker">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="categoryInput">{{ localize "downtime-5e.Category" }}</label>
    <div class="form-fields">
      <select name="category" id="categoryInput">
        <option value="" {{#unless item.category}} selected {{/unless}} >{{ localize "downtime-5e.None" }}</option>
        {{#each categories as |category cid| }}
          <option value="{{category.id}}" {{#if (eq ../item.category category.id)}} selected {{/if}} >{{ category.name }}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="description">{{ localize "downtime-5e.Description" }}</label>
    <div class="form-fields">
      <textarea name="description" id="descriptionInput">{{item.description}}</textarea>
      <!--
      <div class="editor-box">
        {{editor content=item.description target="description" button=true editable=editable inline_styles=false owner=owner}}
      </div>
      -->
    </div>
  </div>

  <div class="form-group">
    <label for="progress">{{ localize 'downtime-5e.CurrentProgress' }}</label>
    <div class="form-fields">
      <input type="number" name="progress" id="progressInput" value="{{item.progress}}" min="0" max="{{item.completionAt}}">
      <label class="help">
        <i class="fas fa-question-circle"></i>
        <span class="tooltip">{{ localize 'downtime-5e.ProgressInputHelpText' }}</span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="progressionStyle">{{ localize "downtime-5e.ProgressionType" }}</label>
    <div class="form-fields">
      <select name="progressionStyle" id="progressionStyleInput">
        <option value="FIXED" {{#if (eq item.progressionStyle "FIXED")}} selected {{/if}}>{{ localize "downtime-5e.ProgressionStyleFixed" }}</option>
        <option value="ABILITY" {{#if (eq item.progressionStyle "ABILITY")}} selected {{/if}}>{{ localize "downtime-5e.ProgressionStyleAbilityCheck" }}</option>
        <option value="SKILL" {{#if (eq item.progressionStyle "SKILL")}} selected {{/if}}>{{ localize "downtime-5e.ProgressionStyleSkillCheck" }}</option>
        <option value="TOOL" {{#if (eq item.progressionStyle "TOOL")}} selected {{/if}}>{{ localize "downtime-5e.ProgressionStyleToolCheck" }}</option>
        <option value="MACRO" {{#if (eq item.progressionStyle "MACRO")}} selected {{/if}}>{{ localize "downtime-5e.ProgressionStyleMacro" }}</option>
      </select>
    </div>
  </div>

  <!-- SHOW FOR FIXED VALUE -->
  {{#if (eq item.progressionStyle "FIXED")}}
    <h3 class="form-header">{{ localize "downtime-5e.ProgressionStyleFixedHeader" }}</h3>
    <p class="notes">{{ localize "downtime-5e.ProgressionStyleFixedHelp" }}</p>
    {{> "modules/5e-training/templates/partials/fixed.hbs" item=item}}
  {{/if}}

  <!-- SHOW FOR ABILITY -->
  {{#if (eq item.progressionStyle "ABILITY")}}
    <h3 class="form-header">{{ localize "downtime-5e.ProgressionStyleAbilityCheckHeader" }}</h3>
    <p class="notes">{{ localize "downtime-5e.ProgressionStyleAbilityCheckHelp" }}</p>
    {{> "modules/5e-training/templates/partials/ability.hbs" item=item}}
  {{/if}}

  <!-- SHOW FOR SKILL -->
  {{#if (eq item.progressionStyle "SKILL")}}
    <h3 class="form-header">{{ localize "downtime-5e.ProgressionStyleSkillCheckHeader" }}</h3>
    <p class="notes">{{ localize "downtime-5e.ProgressionStyleSkillCheckHelp" }}</p>
    {{> "modules/5e-training/templates/partials/skill.hbs" item=item}}
  {{/if}}

  <!-- SHOW FOR TOOL -->
  {{#if (eq item.progressionStyle "TOOL")}}
    <h3 class="form-header">{{ localize "downtime-5e.ProgressionStyleToolCheckHeader" }}</h3>
    <p class="notes">{{ localize "downtime-5e.ProgressionStyleToolCheckHelp" }}</p>
    {{> "modules/5e-training/templates/partials/tool.hbs" item=item}}
  {{/if}}

  <!-- SHOW FOR MACRO -->
  {{#if (eq item.progressionStyle "MACRO")}}
    <h3 class="form-header">{{ localize "downtime-5e.ProgressionStyleMacroHeader" }}</h3>
    <p class="notes">{{ localize "downtime-5e.ProgressionStyleMacroHelp" }}</p>
    {{> "modules/5e-training/templates/partials/macro.hbs" item=item}}
  {{/if}}

  <footer>
    <button id="crash-create-item"><i class='fas fa-check'></i> {{ localize "downtime-5e.SaveTrackedItem" }}</button>
  </footer>

</form>
