<div class="tab downtime-5e" data-group="primary" data-tab="training">

  <!-- Tab Controls -->
  {{#if showToUserEditMode}}
  <div class="downtime-5e-controls">
    <div class="downtime-5e-export" title="{{ localize 'downtime-5e.ExportTrackedItemsTooltip' }}">
      <i class="fas fa-file-import"></i> {{ localize 'downtime-5e.ExportTrackedItems' }}
    </div>
    {{#if showImportButton}}
    <div class="downtime-5e-import" title="{{ localize 'downtime-5e.ImportTrackedItemsTooltip' }}">
      <i class="fas fa-file-export"></i> {{ localize 'downtime-5e.ImportTrackedItems' }}
    </div>
    {{/if}}
    <div class="downtime-5e-audit push-left" title="{{ localize 'downtime-5e.ReviewChanges' }}">
      <i class="fas fa-clipboard"></i> {{ localize 'downtime-5e.ChangeLog' }}
    </div>
    <div class="downtime-5e-new-category" title="{{ localize 'downtime-5e.CreateNewCategory' }}">
      <i class="fas fa-list"></i> {{ localize 'downtime-5e.AddCategory' }}
    </div>
    <div class="downtime-5e-add" title="{{ localize 'downtime-5e.CreateNewItem' }}">
      <i class="fas fa-plus"></i> {{ localize 'downtime-5e.AddItem' }}
    </div>
  </div>
  {{/if}}

  <!-- Items List -->
  <ol class="items-list">

    <!-- Uncategorized -->
    <li class="items-header flexrow">
      <div class="item-name flexrow"><h3>{{ localize 'downtime-5e.Uncategorized' }}</h3></div>
      <div class="activity-type">{{localize "downtime-5e.CheckTypeColumnHeader"}}</div>
      <div class="activity-override">{{localize "downtime-5e.ProgressColumnHeader"}}</div>
      <div class="activity-progress"></div>
      <div class="downtime-5e-item-controls flexrow"></div>
    </li>
    <ol class="item-list inventory-list">
      {{#each (downtime-5e-isUncategorized actor) as |training tid| }}
        <li class="item flexrow">
          <div class="item-name flexrow rollable">
            <div class="{{downtime-5e-trainingRollBtnClass training}}"
                 id="downtime-5e-roll-{{training.id}}"
                 title="{{downtime-5e-trainingRollBtnTooltip training}}"
                 style="background-image: url('{{training.img}}')">
              <div class="checkmark">  <i class="fas fa-check"></i></div>
            </div>
            <h4 class="downtime-5e-toggle-desc" id="downtime-5e-toggle-desc-{{training.id}}" title="{{ localize 'downtime-5e.ToggleInfo' }}">{{training.name}}</h4>
          </div>
          <div class="activity-type-row">
            {{downtime-5e-progressionStyle training ../actor}}
          </div>
          <div class="activity-override-row">
            {{#if ../showToUserEditMode}}
            <input type="text" class="item-control downtime-5e-override" id="downtime-5e-override-{{training.id}}" title="{{ localize 'downtime-5e.AdjustProgressValue' }}" value="{{training.progress}}"/>
            {{else}}
            <input type="text" readonly class="item-control downtime-5e-override" id="downtime-5e-override-{{training.id}}" title="{{ localize 'downtime-5e.AdjustProgressValue' }}" value="{{training.progress}}"/>
            {{/if}}
            <span> / {{training.completionAt}}</span>
          </div>
          <div class="activity-progress-row">
            <div class="progress-bar">
              <div class="downtime-5e-completion" style="width:{{downtime-5e-trainingCompletion training}}%;">
                <span>{{downtime-5e-trainingCompletion training}}%</span>
              </div>
            </div>
          </div>
          {{#if ../showToUserEditMode}}
          <div class="downtime-5e-item-row-controls">
            <a class="item-control downtime-5e-edit" id="downtime-5e-edit-{{training.id}}" title="{{ localize 'downtime-5e.EditItem' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control downtime-5e-delete" id="downtime-5e-delete-{{training.id}}" title="{{ localize 'downtime-5e.DeleteItem' }}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>

    <!-- Categories -->
    {{#each actor.flags.downtime-5e.categories as |category cid| }}
      <li class="items-header flexrow" title="{{ category.description }}">
        <div class="item-name flexrow"><h3>{{ category.name }}</h3></div>
        <div class="activity-type">{{localize "downtime-5e.CheckTypeColumnHeader"}}</div>
        <div class="activity-override">{{localize "downtime-5e.ProgressColumnHeader"}}</div>
        <div class="activity-progress"></div>
        {{#if ../showToUserEditMode}}
        <div class="downtime-5e-item-controls flexrow">
          <a class="item-control downtime-5e-edit-category" id="downtime-5e-edit-category-{{category.id}}" title="{{ localize 'downtime-5e.EditCategory' }}"><i class="fas fa-edit"></i></a>
          <a class="item-control downtime-5e-delete-category" id="downtime-5e-delete-category-{{category.id}}" title="{{ localize 'downtime-5e.DeleteCategory' }}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      <ol class="item-list inventory-list">
        {{#each (downtime-5e-isInCategory ../actor category) as |training tid| }}
          <li class="item flexrow">
            <div class="item-name flexrow rollable">
              <div class="{{downtime-5e-trainingRollBtnClass training}}"
                   id="downtime-5e-roll-{{training.id}}"
                   title="{{downtime-5e-trainingRollBtnTooltip training}}"
                   style="background-image: url('{{training.img}}')">
                <div class="checkmark">  <i class="fas fa-check"></i></div>
              </div>
              <h4 class="downtime-5e-toggle-desc" id="downtime-5e-toggle-desc-{{training.id}}" title="{{ localize 'downtime-5e.ToggleInfo' }}">{{training.name}}</h4>
            </div>
            <div class="activity-type-row">
              {{downtime-5e-progressionStyle training ../../actor}}
            </div>
            <div class="activity-override-row">
              {{#if ../../showToUserEditMode}}
              <input type="text" class="item-control downtime-5e-override" id="downtime-5e-override-{{training.id}}" title="{{ localize 'downtime-5e.AdjustProgressValue' }}" value="{{training.progress}}"/>
              {{else}}
              <input type="text" readonly class="item-control downtime-5e-override" id="downtime-5e-override-{{training.id}}" title="{{ localize 'downtime-5e.AdjustProgressValue' }}" value="{{training.progress}}"/>
              {{/if}}
              <span> / {{training.completionAt}}</span>
            </div>
            <div class="activity-progress-row">
              <div class="progress-bar">
                <div class="downtime-5e-completion" style="width:{{downtime-5e-trainingCompletion training}}%;">
                  <span>{{downtime-5e-trainingCompletion training}}%</span>
                </div>
              </div>
            </div>
            {{#if ../../showToUserEditMode}}
            <div class="downtime-5e-item-row-controls">
              <a class="item-control downtime-5e-edit" id="downtime-5e-edit-{{training.id}}" title="{{ localize 'downtime-5e.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control downtime-5e-delete" id="downtime-5e-delete-{{training.id}}" title="{{ localize 'downtime-5e.DeleteItem' }}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    {{/each}}
  </ol>
</div>
