{{#if @root.isGM}}
    <section class="downtime-dnd5e-controls right">
        <button class="button  downtime-dnd5e-world-new-category"
                title="{{ localize 'downtime-dnd5e.CreateNewWorldCategory' }}">
            <i class="fas fa-list"></i> {{ localize 'downtime-dnd5e.AddWorldCategory' }}
        </button>
        <button class="button  downtime-dnd5e-world-add" title="{{ localize 'downtime-dnd5e.CreateNewWorldItem' }}">
            <i class="fas fa-plus"></i> Add World Downtime
        </button>
    </section>
{{/if}}

<!-- Items List -->

<section class="items-list downtime-list">

    <!-- Uncategorized -->
    <div class="items-section downtime-list card">
        <div class="items-header header">
            <h3 class="item-name" data-tooltip='{{ localize 'downtime-dnd5e.Uncategorized' }}'
                data-tooltip-direction='UP'>
                <span><i class="fa-solid fa-earth-americas"></i></span> {{ localize 'downtime-dnd5e.Uncategorized' }}
                World Downtimes
            </h3>
            <div class="item-header activity-type">{{localize "downtime-dnd5e.CheckTypeColumnHeader"}}</div>
            <div class="item-header activity-override">{{localize "downtime-dnd5e.ProgressColumnHeader"}}</div>
            <div class="item-header activity-progress"></div>
            <div class="item-header item-controls"></div>
        </div>
        <ol class="item-list inventory-list">
            {{#each activitiesWorldUnCategorized as |training tid| }}

                <li class="item" data-item-id="{{ item.id }}" data-entry-id="{{ item.id }}"
                    data-item-name="{{ item.name }}" data-item-sort="{{ item.sort }}" data-grouped="{{ ctx.group }}"
                    data-ungrouped="{{#if ../hasActions}}active{{else}}passive{{/if}}">


                    {{!-- Item Name --}}
                    <div
                        class="item-name item-action item-tooltip {{downtime-dnd5e-worldTrainingRollBtnClass training}}"
                        role="button"
                        id="downtime-dnd5e-world-roll-{{training.id}}"
                        data-action="use"
                        title="{{downtime-dnd5e-worldTrainingRollBtnTooltip training}}"
                    >
                        <img class="item-image gold-icon" src="{{training.img}}">
                        <div class="name downtime-dnd5e-toggle-desc"
                             id="downtime-dnd5e-world-toggle-desc-{{training.id}}"
                             title="{{ localize 'downtime-dnd5e.ToggleInfo' }}">
                            {{#if training.hidden}}
                                <span><i class="fa-solid fa-user-secret"></i></span>
                            {{else}}
                                <span><i class="fa-solid fa-user"></i></span>
                            {{/if}}
                            {{training.name}}
                        </div>
                    </div>


                    <div class="item-detail activity-type activity-type-row">
                        {{downtime-dnd5e-progressionStyle training ../actor}}
                    </div>
                    <div class="item-detail activity-override activity-override-row">
                        {{#if @root.showToUserEditMode}}
                            <input type="text" class="item-control downtime-dnd5e-world-override"
                                   id="downtime-dnd5e-world-override-{{training.id}}"
                                   title="{{ localize 'downtime-dnd5e.AdjustProgressValue' }}"
                                   value="{{training.progress}}" />
                        {{else}}
                            <input type="text" readonly class="item-control downtime-dnd5e-world-override"
                                   id="downtime-dnd5e-world-override-{{training.id}}"
                                   title="{{ localize 'downtime-dnd5e.AdjustProgressValue' }}"
                                   value="{{training.progress}}" />
                        {{/if}}
                        <span> / {{training.completionAt}}</span>
                    </div>
                    <div class="item-detail activity-progress activity-progress-row">
                        <div class="progress-bar">
                            <div class="downtime-dnd5e-completion"
                                 style="width:{{downtime-dnd5e-trainingCompletion training}}%;">
                                <span>{{downtime-dnd5e-trainingCompletion training}}%</span>
                            </div>
                        </div>
                    </div>
                    {{#if @root.showToUserEditMode}}
                        <div class="item-detail item-controls downtime-dnd5e-item-row-controls">
                            {{#if @root.isGM}}
                                <a class="item-control item-action downtime-dnd5e-world-edit"
                                   id="downtime-dnd5e-world-edit-{{training.id}}"
                                   title="{{ localize 'downtime-dnd5e.EditItem' }}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-action downtime-dnd5e-world-delete"
                                   id="downtime-dnd5e-world-delete-{{training.id}}"
                                   title="{{ localize 'downtime-dnd5e.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                            {{/if}}
                            <a class="item-control item-action downtime-dnd5e-world-move"
                               id="downtime-dnd5e-world-move-{{training.id}}" data-tid={{tid}} title="Move Activity Up"><i
                                class="fas fa-chevron-up"></i></a>
                            <a class="item-control item-action downtime-dnd5e-world-move"
                               id="downtime-dnd5e-world-move-{{training.id}}" data-tid={{tid}} title="Move Activity Down"><i
                                class="fas fa-chevron-down"></i></a>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        </ol>
    </div>

    <!-- Categories -->
    {{#each categoriesWorld as |category cid| }}
        <div class="items-section downtime-list card" title="{{ category.description }}">
            <div class="items-header header" data-tooltip='{{ category.description }}' data-tooltip-direction='UP'>
                <h3 class="item-name" data-tooltip='{{ category.description }}' data-tooltip-direction='UP'>
                    <span><i class="fa-solid fa-earth-americas"></i></span> {{ category.name }} World Downtimes
                </h3>
                <div class="item-header activity-type">{{localize "downtime-dnd5e.CheckTypeColumnHeader"}}</div>
                <div class="item-header activity-override">{{localize "downtime-dnd5e.ProgressColumnHeader"}}</div>
                <div class="item-header activity-progress"></div>
                {{#if @root.showToUserEditMode}}
                    <div class="item-header item-controls">
                        {{#if @root.isGM}}
                            <a class="item-control downtime-dnd5e-world-edit-category"
                               id="downtime-dnd5e-world-edit-category-{{category.id}}"
                               title="{{ localize 'downtime-dnd5e.EditCategory' }}"><i class="fas fa-edit"></i></a>
                            <a class="item-control downtime-dnd5e-world-delete-category"
                               id="downtime-dnd5e-world-delete-category-{{category.id}}"
                               title="{{ localize 'downtime-dnd5e.DeleteCategory' }}"><i class="fas fa-trash"></i></a>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
            <ol class="item-list inventory-list">
                {{#each (downtime-dnd5e-isInWorldCategory ../actor category) as |training tid| }}
                    <li class="item" data-item-id="{{ item.id }}" data-entry-id="{{ item.id }}"
                        data-item-name="{{ item.name }}" data-item-sort="{{ item.sort }}" data-grouped="{{ ctx.group }}"
                        data-ungrouped="{{#if ../hasActions}}active{{else}}passive{{/if}}">


                        {{!-- Item Name --}}
                        <div
                            class="item-name item-action item-tooltip {{downtime-dnd5e-worldTrainingRollBtnClass training}}"
                            role="button"
                            id="downtime-dnd5e-world-roll-{{training.id}}"
                            data-action="use"
                            title="{{downtime-dnd5e-worldTrainingRollBtnTooltip training}}"
                        >
                            <img class="item-image gold-icon" src="{{training.img}}">
                            <div class="name" id="downtime-dnd5e-world-toggle-desc-{{training.id}}">
                                {{#if training.hidden}}
                                    <span><i class="fa-solid fa-user-secret"></i></span>
                                {{else}}
                                    <span><i class="fa-solid fa-user"></i></span>
                                {{/if}}
                                {{training.name}}
                            </div>
                        </div>


                        <div class="item-detail activity-type activity-type-row">
                            {{downtime-dnd5e-progressionStyle training ../../actor}}
                        </div>
                        <div class="item-detail activity-override activity-override-row">
                            {{#if @root.showToUserEditMode}}
                                <input type="text" class="item-control downtime-dnd5e-world-override"
                                       id="downtime-dnd5e-world-override-{{training.id}}"
                                       title="{{ localize 'downtime-dnd5e.AdjustProgressValue' }}"
                                       value="{{training.progress}}" />
                            {{else}}
                                <input type="text" readonly class="item-control downtime-dnd5e-world-override"
                                       id="downtime-dnd5e-world-override-{{training.id}}"
                                       title="{{ localize 'downtime-dnd5e.AdjustProgressValue' }}"
                                       value="{{training.progress}}" />
                            {{/if}}
                            <span> / {{training.completionAt}}</span>
                        </div>
                        <div class="item-detail activity-progress activity-progress-row">
                            <div class="progress-bar">
                                <div class="downtime-dnd5e-completion"
                                     style="width:{{downtime-dnd5e-trainingCompletion training}}%;">
                                    <span>{{downtime-dnd5e-trainingCompletion training}}%</span>
                                </div>
                            </div>
                        </div>
                        {{#if @root.showToUserEditMode}}
                            <div class="item-detail item-controls downtime-dnd5e-item-row-controls">
                                {{#if @root.isGM}}
                                    <a class="item-control item-action downtime-dnd5e-world-edit"
                                       id="downtime-dnd5e-world-edit-{{training.id}}"
                                       title="{{ localize 'downtime-dnd5e.EditItem' }}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-action downtime-dnd5e-world-delete"
                                       id="downtime-dnd5e-world-delete-{{training.id}}"
                                       title="{{ localize 'downtime-dnd5e.DeleteItem' }}"><i
                                        class="fas fa-trash"></i></a>
                                {{/if}}
                                <a class="item-control item-action downtime-dnd5e-world-move"
                                   id="downtime-dnd5e-world-move-{{training.id}}" data-tid={{tid}} title="Move Activity Up"><i
                                    class="fas fa-chevron-up"></i></a>
                                <a class="item-control item-action downtime-dnd5e-world-move"
                                   id="downtime-dnd5e-world-move-{{training.id}}" data-tid={{tid}} title="Move Activity Down"><i
                                    class="fas fa-chevron-down"></i></a>
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            </ol>
        </div>
    {{/each}}
</section>
